<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
    <header>
        <% include ../partials/header.ejs , {is_loggedin: is_loggedin} %>
    </header> 
<main>
    <div class="container">
        <div class="row">
            <div class="filter-form">
                <h1 class="cursive">My Work</h1>
                <p>Filter Results</p>
                <form method="get" action="/filterProducts">
                    <select name="category">
                        <option selected disabled>Filter by Category</option>
                        <option value="1">Addams Family</option>
                        <option value="2">Animals</option>
                        <option value="13">Beauty and the Beast</option>
                        <option value="3">Buffy the Vampire Slayer</option>
                        <option value="14">Disney</option>
                        <option value="4">Ghostbusters</option>
                        <option value="5">Harry Potter</option>
                        <option value="6">Hocus Pocus</option>
                        <option value="15">Moana</option>
                        <option value="7">People</option>
                        <option value="8">Pokemon</option>
                        <option value="9">Pop Culture</option>
                        <option value="10">Scooby Doo</option>
                        <option value="11">Star Wars</option>
                        <option value="12">Wonder Woman</option>
                    </select>
                    <button type="submit" class="btn btn-default">Filter</button>
                </form>
            </div>
            <% products.forEach(function(product){%>
                <form method="get" action="/addToCart" class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="/images/<%= product.image %>" alt="<%= product.productname %>">
                        <input type="hidden" name="image" value="<%= product.image %>">
                        <div class="card-body">
                            <h2 class="card-title" name="product" ><%= product.productname %></h2>
                            <input type="hidden" name="product" value="<%= product.productname %>">
                            <p class="card-text">Number in Stock: <%= product.numinstock %></p>
                            <input type="hidden" name="numinstock" value="<%= product.numinstock %>">
                            <p class="card-text" name="price">Price: $<%= product.price %></p>
                            <input type="hidden" name="price" value="<%= product.price %>">
                            <input type="hidden" name="prodid" value="<%= product.productid %>">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </div>
                    </div>
                </form>

            <%}); %>

        </div>
    </div>
</main>
</body>
</html>
